.navigation {
  background-color: green;
  margin: auto 10px;
  text-align: center;
}
.grid-container {
  display: grid;
}

/* Media queries */
.flexcontainer {
  display: flex;
  flex-direction: row;
}

body {
  font-family: arial;
}
@media (max-width:400px) {
  .flexcontainer {
    flex-direction: column;
  }
}
