/* Responsive navbar inspiration from Web Dev simplified. https://www.youtube.com/watch?v=At4B7A4GOPg */
/* annimated project grid inspiration: https://codepen.io/kachibito/pen/wpWEWb */
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Pragati Narrow', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
  background: #D9D9D9;
  font-size: 120%;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    color: white;
}


.navlinks {
    height: 100%;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 1.5em
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navlinks li:hover {
    background-color: #8C8C8C;
}

.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.portfolio-title{
  font-weight: 700;
  font-size: 160%;
  padding-left: 1.5em;
}


.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
/* image-container */
.flexbox-item{
  margin:20px;
}
.description{
  justify-content: center;
  align-items: center;
}
.description h2{

}
.description p{
  font-size: 120%;
}
.flexbox-item-1 img{
  flex-shrink: 0;
  width:200px;
  min-height:200px;
  text-align: center;

  display: block;
  max-height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
}
.flexbox-item-2{
  width:400px;

  flex-shrink: 0;
}
/* this is how I keep everything in the middle */
.content{
  top:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin: auto;
  padding: 25px;
  max-width: 1250px;
}
/* Project page responsive image grid */
.row{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 1rem;
}
/* annimation */
.tiles {
  font-size: 0;
  text-align: center;
  position: relative;
  /* background: black; */
}
.tiles .tile {
  display: block;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}
.tiles .tile:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 70%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  display: block;
}
.tiles .tile img {
  display: block;
  max-height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
}
.tiles .tile .details {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 20px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 16px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 100;
}
.tiles .tile:focus:before,
.tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span,
.tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title,
.tiles .tile:hover .title {
          transition-delay: 0.15s;
}
.tiles .tile:focus .info,
.tiles .tile:hover .info {
          transition-delay: 0.25s;
}
/* Resume Page */
.resume img{
  width:100%;
}

/* contact page */
.logos{
  width: 100%;
  margin-right: 80%;
}

@media only screen and (max-width: 1900px){
  .flexbox-item-1{
    width:225px;
    min-height:225px;
  }
  .flexbox-item-2{
    flex-shrink: 3;
    width:500px;
  }
}
@media only screen and (max-width: 800px){
  .logos{
    width: 100%;
    margin: auto;
  }
  .content{
    width:95%;
    top:90%;
  }
  .row{
    display: grid;
    grid-template-columns: repeat(1, minmax(90%, 1fr));
    width:100%;
  }
  .tiles .tile .details span{
    top: 0px;
    opacity: 100%
  }
  .tiles .tile:before,
  .tiles .tile span,
  .tiles .tile:before,
  .tiles .tile span {
    opacity: 100;
  }
  .tiles .tile:before,
  .tiles .tile:before {
    top: 50%;
  }
  .tiles .tile span,
  .tiles .tile span {
    top: 0;
  }
  .tiles .tile img {
    max-height: 100%
  }
  .flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexbox-item-2{
    width: 350px;
  }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navlinks ul li {
        text-align: center;
    }

    .navlinks ul li a {
        padding: .5rem 1rem;
    }

    .navlinks.active {
        display: flex;
    }
}
/* Below is custom CSS for Assignment 11 */

.A11{
  margin-left:50px;
}

#colorBtn{
  Height: 200px;
  width: 200px;
  background:#D9CC1E;
}

/* Random Quote Generator */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.app {
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #0D0D0D;
}

/* header {
  width: 100%;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  color: #D9CC1E; */
}

.quotes {
  color: white;
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  color: white;
  padding-bottom: 20px;
  font-size: 30px;
}

.quote-author{
  font-size: 25px;
}

.quote-series{
  font-size: 20px;
}


.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.new-quote {
  background-color: #D9CC1E;
  margin-bottom: 15px;
}

.new-quote:hover {
  background-color: #BFB417;
}

.new-quote:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}
