*{
  margin: 0;
  padding: 0;
  font-family: arial;
}
.container {
  width: 100%;
  min-height: none;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;

}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: black;

}
.icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  display: inline-block;
  margin-right: 30px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
nav ul li a:hover{
  color: yellow;
}
.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.flexbox-item{
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
.flexbox-item-1{
  width:200px;
  min-height:200px;
}
.flexbox-item-2{
  width:400px;
  min-height:200px;
  flex-shrink: 0;
}

@media only screen and (max-width: 700px){
  .flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexbox-item-2{
    flex-wrap: nowrap;
  }
  nav ul{
    width: 100%;
    background-color: green;
    position: absolute;
    top: 75px;
    right; 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .icon{
    display: block;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;

  }
}
